img{
	width: 29%;
	float: left;
	margin: 1.66%;
}
h1{
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 800;
	border-bottom: 3px solid #f1f1f1;
	width: 29%;
	padding: 15px 0;
	margin-bottom: 0;
}
h2{
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 28px;
	margin-top: 5px;
}
body{
	background-image: url("images/e.jpg");
}